body {
    opacity:0.9;
}

img {
    border-radius:5px;
}

header {
    background-color:var(--pico-form-element-border-color) !important;
    padding: 5px !important;
    margin-bottom: 10px !important;
}

footer {
    background-color:var(--pico-muted-border-color) !important;
    padding:10px;
    margin-top:20px;
    border-radius:5px;
}

video {
    width:100%;
    height:100%;
    border-radius:7px;
}

article {
    margin-bottom:10px;
}

.dialogue {
    opacity:0.8;
    text-decoration:none;
}

.results {
    width:99%;
    max-height:600px;
    overflow:auto;
}

.feature {
    text-align:left;
    align-self:center;
}

#page {
    margin-bottom:20px;
}

.container {
    max-width:1000px !important;
    padding:10px;
}

#player {
    height:540px;
    margin-bottom:5px;
}

.dialogue:nth-of-type(2) {
    border:1px dashed grey;
    border-radius:5px;
    opacity:1;
    padding:0 20px 0 20px;
    font-weight:bold;
}
