{{ < header }}
    {{$title}}{{context_dialogues.1.text}} - DialogueFinder{{/title}}
{{ / header }}
<div id="page">
    <article style="text-align:center">
        <header><small style="font-weight:500;vertical-align:text-bottom">{{context_dialogues.0.episode}}</small></header>
        <div id="player">
            <video src="/files/clips/{{#urlencode}}{{episode}}{{/urlencode}}/{{index}}.mp4" controls autoplay _="on play remove @autoplay set @muted to true"></video>
        </div>
        <div id="dialogue_selector">
                {{#context_dialogues}}
                <a class="dialogue"
                   hx-get="/dialogue?episode={{#urlencode}}{{episode}}{{/urlencode}}&index={{index}}" hx-push-url="true" hx-target="#dialogue_selector"
                   hx-select-oob="#dialogue_selector,#player" hx-indicator="#loading">
                    {{text}}<br>
                </a>
                {{/context_dialogues}}
        </div>
    </article>
</div>
{{ >footer }}