<div class="grid feature-parent">
    <div>
        <img src="/img/main.png" />
    </div>
    <div class="feature">
        <h5 style="margin:0">Find your favorite scene</h5>
        <p>The keywords you enter will be matched against the show's subtitles to find the scene on your mind.</p>
        <h5 style="margin:0">Watch the clip</h5>
        <p>Click on the dialogue to watch the clip and cycle through the lines.</p>
    </div>
</div>
<footer style="text-align:center">
    <small>
        <a href="https://github.com/leonrjg/DialogueFinder">GitHub</a> | <span _="on load set my @data-tooltip to 'admin@' + window.location.hostname">Contact</span>
    </small>
</footer>
</main>
</body>
</html>